*.DS_Store

# ignore maven and build stuff
*.class
*target*

# exclude eclipse specific stuff
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
